<h1>Square Calculation</h1>

<form action="/square/results">
    <div>
        <label for = "Enter a number">
            Enter a number     
        </label>
        
        <input type ="text" name="user_number">
    </div>
   
    <button label = "Calculate square"> Calculate square </button>
    
</form>


<!--<a href="link"> Go to Google </a>-->