<h1>Square Calculation</h1>

<form action="/square/results">
    <div>
        <label for = "user_number">
            Enter a number     
        </label>
        
        <input id=user_number type="text" name="user_number" placeholder="What number do you want to square?">
    </div>
   
    <button label = "Calculate square"> Calculate square </button>
    
</form>


<!--<a href="link"> Go to Google </a>-->